<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="VitalElement_Studio">
      </category>
      <view
            name="Sample View"
            icon="icons/sample.gif"
            category="VitalElement_Studio"
            class="vitalelement_studio.views.SampleView"
            id="vitalelement_studio.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="vitalelement_studio.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="VEStudio"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="VEStudio">
         <property
               name="appName"
               value="VEStudio">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="10,100,300,20">
         </property>
         <property
               name="startupProgressRect"
               value="10,90,300,10">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
